@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Portfolio Colors */
  --cream: #FCF8F4;
  --charcoal: #313233;
  --light-gray: #D3DADB;
  --slate-blue: #708191;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lato: var(--font-lato);
  --font-libre-bodoni: var(--font-libre-bodoni);
  
  /* Portfolio Colors */
  --color-cream: var(--cream);
  --color-charcoal: var(--charcoal);
  --color-light-gray: var(--light-gray);
  --color-slate-blue: var(--slate-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.lato-thin {
  font-family: var(--font-lato), sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: var(--font-lato), sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: var(--font-lato), sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: var(--font-lato), sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: var(--font-lato), sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: var(--font-lato), sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: var(--font-lato), sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: var(--font-lato), sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: var(--font-lato), sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: var(--font-lato), sans-serif;
  font-weight: 900;
  font-style: italic;
}

.libre-bodoni-regular {
  font-family: var(--font-libre-bodoni), serif;
  font-weight: 400;
  font-style: normal;
}

.libre-bodoni-medium {
  font-family: var(--font-libre-bodoni), serif;
  font-weight: 500;
  font-style: normal;
}

.libre-bodoni-semibold {
  font-family: var(--font-libre-bodoni), serif;
  font-weight: 600;
  font-style: normal;
}

.libre-bodoni-bold {
  font-family: var(--font-libre-bodoni), serif;
  font-weight: 700;
  font-style: normal;
}

.libre-bodoni-regular-italic {
  font-family: var(--font-libre-bodoni), serif;
  font-weight: 400;
  font-style: italic;
}

.libre-bodoni-medium-italic {
  font-family: var(--font-libre-bodoni), serif;
  font-weight: 500;
  font-style: italic;
}

.libre-bodoni-semibold-italic {
  font-family: var(--font-libre-bodoni), serif;
  font-weight: 600;
  font-style: italic;
}

.libre-bodoni-bold-italic {
  font-family: var(--font-libre-bodoni), serif;
  font-weight: 700;
  font-style: italic;
}
