@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --melo-blue: #0066FF;
}

.text-melo-blue {
  color: var(--melo-blue);
}

.bg-melo-blue {
  background-color: var(--melo-blue);
}

.fadeIn {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.highlight {
  background: linear-gradient(to right, #ffff00 0%, #ffff00 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.8s ease-in-out;
}

.highlight.shown {
  background-size: 100% 100%;
} 